{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/modern-business.css' %}">
        <style>
        .selected img {
    opacity:0.5;
}

        </style>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    
    <!-- Custom Fonts 

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <a class="navbar-brand" href="/">COMPUTER ENGINEERING DEPT.</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="services.html">Academics</a>
                    </li>
                    <li>
                        <a href="contact.html">Courses</a>
                    </li>
                    <li>
                        <a href="contact.html">Admissions</a>
                    </li>
                     <li>
                        <a href="contact.html">Campus</a>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Faculty <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-item.html">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Placements <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            
                            <li>
                                <a href="faq.html">Downloads</a>
                            </li>
                            
                            <li>
                                <a href="pricing.html">Contact Us</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
         <ol class="carousel-indicators">
            <li><img  src="/media/images/puplogo.png" alt="" data-slide-to="1"></li>
            <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li> -->

        </ol> 

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                {% for post in posts %}
                <div class="fill" style="background-image:url ('http://127.0.0.1:8000/mysite/media/{{post.slide_image2}}');"></div>
                {% endfor %}
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://csepup.ac.in/wp-content/uploads/2014/04/10.jpg');"></div>
                <div class="carousel-caption">
                   
                </div>

            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                   UCOE PUNJABI UNIVERSITY PATIALA
                </h1>
            </div>
            

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>NOTICE</h4>
                    </div>
                    <div class="panel-body">
                        
    {% for post in posts %}
                <h3><a href="">{{ post.title_notice }}</a></h3>
        <p>published: {{ post.created_date_notice }}</p>
        <!--<p>{{ post.text|linebreaks }}</p>-->
        
    {% endfor %}

                        
                        <!--<a href="#" class="btn btn-default">Learn More</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> HIGHLIGHTS</h4>
                    </div>
                    <div class="panel-body">
                      
    {% for post in posts %}
        
        <h3><a href="">{{ post.title_highlights }}</a></h3>
        <p>published: {{ post.created_date_highlights }}</p>
    {% endfor %}    
   

                    </div>
                </div>
            </div>

                <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>ANNOUNCEMENT</h4>
                    </div>
                    <div class="panel-body">
                        {% for post in posts %}
                        <h3><a href="">{{ post.title_announcement }}</a></h3>
        <p>published: {{ post.created_date_announcement }}</p>
        {% endfor %} 
                        
                    </div>
                </div>
            </div>
            
            
     </div>


<div class="container">
<div class = "row">
    <div class = "com-md-12">
        <div class="panel-heading">
                <center><h3><i class="fa fa-fw fa-gift"></i>VISION</h3></center>
            </div>
            
            <p>Lorem ipsum dolor sit amet, etiam minimum delicatissimi vix ad, aeterno conclusionemque ei sea, an mei quando euismod constituam. Dicta nostrum reprimique no nec, ne sint ferri expetenda per. Pro graecis liberavisse an, doming deleniti no pro. Ad iusto interesset pro. Qui ea inermis corrumpit, case vide cu his, id vix aperiam dignissim eloquentiam.
</p>
            <p><i><left>-LAKHWINDER KAUR<left></i></p>
        </div>
    </div>
</div>
<br></br>
     <div class="row">
       <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-gift"></i>UPCOMING EVENTS</h4>
            </div>
            <div class="panel-body">
                <div class = "col-md-4">
                    <div class="list-group">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>
                </div>
                <div class = "col-md-8">
                      <img class="img-responsive img-portfolio img-hover"
                       src="http://collegedunia.com/public/college_data/images/campusimage/1410348081uce6.jpg" alt="">
                </div>



            </div>
        </div>
    </div>
</div>
      
        

                     
                     


         
       
        






































                
          <h2 class="page-header">GALLERY</h2>
<div class="row">
    
{% for post in posts %}
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="../../../{{ post.event_image.url }}" alt="...">
    </a>
  </div>
{% endfor %}
  
</div>











        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">MOVE TO TOP</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->



  


    <script src="../static/js/jquery.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      
    


    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    





</body>

</html>
